@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(34, 32, 32, 0.87);
  background-color: #ffefef;
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
#root {
  height: 100%;
}
